<style>
    .GriddedLayout {
        position: absolute;
        border-radius: 6px;
        overflow: hidden;
        border: 1px solid #333;
    }

    .GriddedTitle {
        background-image: linear-gradient(#555, #333);
        cursor: grab;
        color: #777;
        font-family: sans-serif;
        text-align: center;
        font-size: 0.8em;
    }

    .GriddedClose {
        float: right;
        cursor: pointer;
        padding-right: 6px;
    }

    .GriddedClose:hover {
        color: #fff;
    }
    
    .GriddedContent {
        background-color: rgba(50, 50, 50, 0.5);
        padding: 6px;
        font-family: sans-serif;
        font-size: 0.8em;
        color: #ddd;
        overflow-y: scroll;
    }
</style>
<div class="GriddedLayout" style="
    left: {{left}}px;
    top: {{top}}px;
    width: {{width}}px;
">
    <div class="GriddedTitle" style="height:{{titleHeight}}px">
        {{title}}
        <div class="GriddedClose">&times;</div>
    </div>
    <div class="GriddedContent" style="height:{{contentHeight}}px"></div>
</div>
